/*
    desktop:        80em        1280px
    tab-land:       61.25em     980px
    tab-port-lg:    48.3125em   773px
    tab-port:       46em        736px
    tab-port-sm:    43.55em     700px
    phone:          30em        480px
    phone-sm:       22.5em      360px
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Slab:400,700");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  outline: none; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 80em) {
    html {
      font-size: 56.825%; } }
  @media only screen and (max-width: 22.5em) {
    html {
      font-size: 51.1426%; } }

body {
  box-sizing: border-box; }

body, input, select, textarea {
  color: #7f888f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.65; }

h1, h2, h3, h4, h5, h6 {
  color: #3d4449;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1rem 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0; }

h1 {
  font-size: 4rem;
  margin: 0 0 .5rem 0;
  line-height: 1.3; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.1rem; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.7rem; }

ul li {
  list-style: none;
  text-transform: uppercase; }

a:link,
a:visited {
  color: inherit;
  text-decoration: none; }

p {
  font-size: 1.466667rem; }

small {
  font-size: 1.1883rem; }

.container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 0;
  padding: 0; }

.sidebar {
  background-color: #f5f6f7;
  position: relative;
  margin-left: 0;
  width: 31.68rem;
  transition: margin-left .5s ease-in-out, box-shadow .5s ease-in-out; }
  @media only screen and (max-width: 80em) {
    .sidebar {
      position: fixed;
      left: 0;
      top: 0;
      -webkit-transform: translateX(0);
              transform: translateX(0);
      z-index: 9999;
      height: 100%;
      box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175); } }
  .sidebar__section {
    margin-bottom: 5rem; }
    .sidebar__section:not(:last-child) {
      padding-bottom: 5rem;
      border-bottom: 2px solid rgba(210, 215, 217, 0.75); }
  .sidebar.inactive {
    margin-left: -31.68rem; }
    @media only screen and (max-width: 80em) {
      .sidebar.inactive {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } }
  .sidebar .inner {
    padding: 2.2rem 2.2rem 1.76rem;
    width: 31.68rem;
    background-color: transparent; }
    @media only screen and (max-width: 80em) {
      .sidebar .inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto; } }

.content {
  flex: 1;
  padding: 0 7.3333rem;
  position: relative; }
  @media only screen and (max-width: 80em) {
    .content {
      padding: 0 5.86rem; } }
  @media only screen and (max-width: 46em) {
    .content {
      padding: 0 2.93rem; } }
  .content p {
    margin-bottom: 2.9333rem; }

.featured {
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  padding-top: 7.3333rem;
  padding-bottom: 4.4rem;
  border-bottom: 2px solid rgba(210, 215, 217, 0.75); }
  @media only screen and (max-width: 80em) {
    .featured {
      padding-top: 5.86rem; } }
  @media only screen and (max-width: 46em) {
    .featured {
      padding-top: 4.4rem; } }
  @media only screen and (max-width: 43.75em) {
    .featured {
      flex-direction: column-reverse;
      align-content: stretch;
      padding-bottom: 1.466rem; } }
  .featured__content {
    width: 50%; }
    @media only screen and (max-width: 43.75em) {
      .featured__content {
        width: 100%; } }
  .featured__header h1 {
    font-size: 5.1333rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 61.25em) {
      .featured__header h1 {
        font-size: 4.761rem; } }
    @media only screen and (max-width: 46em) {
      .featured__header h1 {
        font-size: 2.93rem;
        line-height: 4.102rem;
        margin-bottom: 1.465rem; } }
    @media only screen and (max-width: 43.75em) {
      .featured__header h1 br {
        display: none; } }
  .featured__header h3 {
    color: #7f888f;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .12rem;
    text-transform: uppercase;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 80em) {
      .featured__header h3 {
        font-size: 1.466rem; } }
    @media only screen and (max-width: 46em) {
      .featured__header h3 {
        line-height: 2.42rem;
        letter-spacing: .11rem;
        margin-top: -.7332rem; } }
    @media only screen and (max-width: 22.5em) {
      .featured__header h3 {
        font-size: 1.466rem; } }
  .featured__body {
    margin-bottom: 2.9rem; }
  .featured__img-wrapper {
    flex: 0 0 50%;
    margin: 0 0 2rem 4rem;
    overflow: hidden; }
    @media only screen and (max-width: 43.75em) {
      .featured__img-wrapper {
        flex: 0 0 100%;
        margin: 0 0 5.86rem 0;
        min-height: 26.4rem;
        height: 36.66rem;
        max-height: 50vh; } }
    @media only screen and (max-width: 30em) {
      .featured__img-wrapper {
        min-height: 26.373rem;
        height: 34.1667rem;
        max-height: 35vh; } }
    .featured__img-wrapper img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;
      border-radius: 5px; }

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 7.3333rem;
  border-bottom: 2px solid rgba(210, 215, 217, 0.75); }
  @media only screen and (max-width: 80em) {
    .info {
      padding-bottom: 5.866rem; } }
  .info__feature {
    width: calc(50% - 2.2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.4rem; }
    @media only screen and (max-width: 30em) {
      .info__feature {
        flex-direction: column;
        align-items: flex-start; } }
    .info__feature:nth-child(odd) {
      margin-right: 2.2rem; }
    .info__feature:nth-child(even) {
      margin-left: 2.2rem; }
    .info__feature:nth-last-child(1), .info__feature:nth-last-child(2) {
      margin-bottom: 0; }
    @media only screen and (max-width: 61.25em) {
      .info__feature {
        width: 100%; }
        .info__feature:not(:last-child) {
          margin: 0 0 4.395rem; }
        .info__feature:last-child {
          margin: 0; } }
  .info__icon-wrapper {
    min-width: 14.6667rem;
    min-height: 14.6667rem;
    margin-right: 2.9333rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    @media only screen and (max-width: 61.25em) {
      .info__icon-wrapper {
        min-width: 11.732rem;
        min-height: 11.732rem; } }
    @media only screen and (max-width: 30em) {
      .info__icon-wrapper {
        min-width: 8.799rem;
        min-height: 8.799rem;
        margin: 0 0 2.198rem; } }
    .info__icon-wrapper::after {
      content: '';
      width: 10.2667rem;
      height: 10.2667rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
      border: 2px solid rgba(210, 215, 217, 0.75);
      border-radius: 5px; }
      @media only screen and (max-width: 61.25em) {
        .info__icon-wrapper::after {
          width: 8.799rem;
          height: 8.799rem; } }
      @media only screen and (max-width: 30em) {
        .info__icon-wrapper::after {
          width: 5.866rem;
          height: 5.866rem; } }
  .info__icon {
    width: 4.4rem;
    height: 4.4rem;
    align-items: center;
    justify-content: center;
    fill: #f56a6a; }
    @media only screen and (max-width: 61.25em) {
      .info__icon {
        width: 3.96rem;
        height: 3.96rem; } }
    @media only screen and (max-width: 30em) {
      .info__icon {
        width: 2.2rem;
        height: 2.2rem; } }
    @media only screen and (max-width: 22.5em) {
      .info__icon {
        width: 2.445rem;
        height: 2.445rem; } }
  .info__text p {
    margin-bottom: 0; }

.article {
  padding-top: 7.333333rem; }
  @media only screen and (max-width: 80em) {
    .article {
      padding-top: 5.86rem; } }
  @media only screen and (max-width: 43.75em) {
    .article {
      padding-top: 4.395rem; } }

.posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.menu {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem; }
  .menu a {
    display: block;
    padding: .74333rem 0;
    transition: color .2s; }
  .menu a:hover {
    color: #f56a6a; }
  .menu__list {
    color: #3d4449; }
  .menu__item {
    font-size: 1.18833rem;
    letter-spacing: .1rem;
    line-height: 1.634; }
    .menu__item:not(:last-child) {
      padding-bottom: .66rem;
      margin-bottom: .66rem;
      border-bottom: 1px solid rgba(210, 215, 217, 0.75); }

.opener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .opener a {
    flex: 1; }
  .opener a:hover + .opener__icon {
    fill: #f56a6a; }
  .opener__icon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-left: -2rem;
    fill: #9fa3a6;
    pointer-events: none;
    transition: fill .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out, fill .2s ease-in-out;
    transition: transform .2s ease-in-out, fill .2s ease-in-out, -webkit-transform .2s ease-in-out; }
    .opener__icon--rotate {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }

.search-box {
  background-color: #eff1f2;
  padding: 2.2rem;
  margin: -2.2rem -2rem 4.4rem -2.2rem; }
  .search-box__form {
    display: flex;
    align-items: center; }
  .search-box__input {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.613;
    color: inherit;
    padding: 0 4.0333rem 0 1.46667rem;
    width: 100%;
    height: 4.0333rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(210, 215, 217, 0.75); }
    .search-box__input:focus {
      border-radius: 5px;
      outline: none;
      border: 1px solid #f56a6a;
      box-shadow: 0 0 0 1px #f56a6a; }
  .search-box__icon {
    fill: rgba(210, 215, 217, 0.75);
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: -3rem; }

.heading {
  display: inline-block;
  font-size: 1.83333rem;
  margin-bottom: 3.666667rem;
  padding: 0 1.375rem .916667rem 0;
  border-bottom: 3px solid #f56a6a; }
  .heading--lg {
    font-size: 2.5633rem;
    margin-bottom: 5.133333rem;
    padding: 0 1.925rem 1.28333rem 0; }
    @media only screen and (max-width: 46em) {
      .heading--lg {
        font-size: 2.198rem; } }
    @media only screen and (max-width: 30em) {
      .heading--lg {
        margin-bottom: 4.395rem; } }

.h-simple {
  font-size: 1.8333rem;
  margin-bottom: 1em; }

.summary:not(:first-child) {
  padding-top: 2.4rem;
  border-top: 1px solid rgba(210, 215, 217, 0.75); }

.summary__link {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow: hidden;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear; }
  .summary__link:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08); }

.summary__img {
  display: block;
  width: 100%;
  height: auto; }

.summary__p {
  font-size: 1.32rem;
  margin-bottom: 2.4rem; }

.btn {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: .075rem;
  text-transform: uppercase;
  color: #f56a6a;
  background-color: transparent;
  border-radius: 3px;
  height: 3.8rem;
  line-height: 3.8rem;
  padding: 0 2.2rem;
  transition: background-color .2s ease;
  border: 0;
  box-shadow: inset 0 0 0 2px #f56a6a; }
  .btn--lg {
    font-size: 1.17333rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 2.64rem; }
    @media only screen and (max-width: 80em) {
      .btn--lg {
        padding: 0 2.6375rem; } }
  .btn:hover {
    background-color: rgba(245, 106, 106, 0.05); }
  .btn:active {
    background-color: rgba(245, 106, 106, 0.15); }

a.btn:link, a.btn:visited {
  color: #f56a6a; }

.contact {
  font-size: 1.32rem; }
  .contact a {
    border-bottom: 1px dotted currentColor;
    transition: color .2s; }
  .contact a:hover {
    color: #f56a6a; }
  .contact__p {
    font-size: 1.32rem;
    margin-bottom: 2.4rem; }
  .contact__item {
    text-transform: none;
    display: flex; }
    .contact__item:not(:last-child) {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid rgba(210, 215, 217, 0.75); }
  .contact__icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    fill: #f56a6a;
    margin-right: 1rem; }

.copyright {
  color: #9fa3a6; }
  .copyright a {
    border-bottom: 1px dotted currentColor;
    transition: color .2s; }
  .copyright a:hover {
    color: #f56a6a; }

.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 7.5rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid #f56a6a; }
  @media only screen and (max-width: 80em) {
    .main-header {
      padding-top: 9.532rem; } }
  .main-header h2 {
    font-size: 1.65rem; }
    @media only screen and (max-width: 80em) {
      .main-header h2 {
        font-size: 1.648rem; } }
    @media only screen and (max-width: 46em) {
      .main-header h2 {
        font-size: 1.832rem; } }
    .main-header h2 span {
      font-weight: 400;
      color: #7f888f; }

.social {
  display: flex; }
  @media only screen and (max-width: 46em) {
    .social {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0 2.93rem 0 0; } }
  .social__item {
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
    margin-left: 1.8rem; }
  .social__svg {
    height: 1.8rem;
    width: 1.8rem;
    fill: currentColor;
    transition: fill .2s ease; }
    @media only screen and (max-width: 46em) {
      .social__svg {
        height: 7.332rem; } }
  .social__item a:hover .social__svg {
    fill: #f56a6a; }

.post {
  width: calc(50% - 4.4rem);
  margin-bottom: 4.4rem;
  padding-bottom: 4.4rem;
  position: relative; }
  @media only screen and (max-width: 46em) {
    .post {
      margin-bottom: 3.296rem;
      padding-bottom: 3.296rem; } }
  @media only screen and (max-width: 30em) {
    .post {
      width: 100%; } }
  .post:nth-child(2n)::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4.4rem;
    width: 1px;
    height: calc(100% + 4.4rem);
    background-color: rgba(210, 215, 217, 0.75); }
    @media only screen and (max-width: 30em) {
      .post:nth-child(2n)::before {
        display: none; } }
  .post:nth-child(2n)::after {
    left: -4.4rem;
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: calc(100% + 4.4rem);
    background-color: rgba(210, 215, 217, 0.75); }
    @media only screen and (max-width: 30em) {
      .post:nth-child(2n)::after {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 100%; } }
  .post:nth-child(2n+1)::after {
    right: -4.4rem;
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: calc(100% + 4.4rem);
    background-color: rgba(210, 215, 217, 0.75); }
    @media only screen and (max-width: 30em) {
      .post:nth-child(2n+1)::after {
        right: 50%;
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
        width: 100%; } }
  .post:nth-last-child(1)::before {
    height: 100%; }
    @media only screen and (max-width: 30em) {
      .post:nth-last-child(1)::before {
        display: none; } }
  .post:nth-last-child(1), .post:nth-last-child(2) {
    padding-bottom: 0;
    margin-bottom: 0; }
    .post:nth-last-child(1)::after, .post:nth-last-child(2)::after {
      display: none; }
    @media only screen and (max-width: 30em) {
      .post:nth-last-child(1), .post:nth-last-child(2) {
        margin-bottom: 3.296rem;
        padding-bottom: 3.296rem; } }
  @media only screen and (max-width: 30em) {
    .post:nth-last-child(2)::after {
      display: block; } }
  .post__link-img {
    display: block;
    margin-bottom: 2.9333rem;
    border-radius: 5px;
    overflow: hidden; }
    .post__link-img:hover img {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .post__link-img img {
      display: block;
      width: 100%;
      border-radius: 5px;
      transition: -webkit-transform .2s ease;
      transition: transform .2s ease;
      transition: transform .2s ease, -webkit-transform .2s ease; }

.toggle {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 82.5px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -66px; }
  @media only screen and (max-width: 80em) {
    .toggle {
      width: 72px;
      height: 75px; } }
  @media only screen and (max-width: 46em) {
    .toggle {
      background-color: rgba(210, 215, 217, 0.5);
      border-radius: 5px;
      top: 12px;
      right: -72px;
      width: 60px;
      height: 42px; } }
  .toggle__icon {
    fill: #f56a6a;
    display: block;
    width: 24px;
    height: 24px; }
    @media only screen and (max-width: 80em) {
      .toggle__icon {
        margin-left: -1.1rem; } }
    @media only screen and (max-width: 46em) {
      .toggle__icon {
        fill: #7f888f;
        width: 18px;
        height: 18px;
        margin-left: 0; } }

.submenu {
  display: none;
  width: 100%;
  padding-left: 1.32rem;
  margin: .66rem 0 1.98rem 0;
  font-size: 1.05667rem;
  color: #9fa3a6; }
  .submenu li {
    margin-top: .165rem;
    padding-top: .165rem; }
  .submenu a {
    padding: .66rem 0; }
  .submenu.d-block {
    display: block; }

.homepage {
  padding-bottom: 8.8rem; }
